body {

}
    h1 {
    font-family: Verdana;
}
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    #p1 {
    font-family: Verdana;
}
    #p2 {
    font-family: Verdana;
}
    #p3 {
    font-family: Verdana;
}
    #p4 {
    font-family: Verdana;
}
    #p5 {
    font-family: Verdana;
}
    #p6 {
    color: crimson;
}