body {
    background-color: #c00;
}
div {
    background-color: #fff;
}
h1 {
    font-family:Helvetica;
    text-align: center;
}
    #p1 {
    font-family: Verdana;
}
    #p2 {
    font-family: Verdana;
}
    #p3 {
    font-family: Verdana;
}
    #p4 {
    font-family: Verdana;
}
    #p5 {
    font-family: Verdana;
}
    #p6 {
    color: crimson;
    font-family: Verdana;
}
    label {
    font-family: Verdana;
    }
    



