body {

}
    h1 {
    font-family: Verdana;
}
    #p1 {
    font-family: Verdana;
}
    #p2 {
    font-family: Verdana;
}
    #p3 {
    font-family: Verdana;
}
    #p4 {
    font-family: Verdana;
}
    #p5 {
    font-family: Verdana;
}
    #p6 {
    font-family: Verdana;
}
    li {
    font-family: Verdana;
    }



